:root {
  --td-border-color: #dee2e6;
  --thead-bg-color: #efefef;
}

.main {
  margin: auto;
  width: 60%;
  padding: 20px;
}

.main__search-box {
  margin-bottom: 10px;
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid var(--td-border-color);
  padding: 10px;
}

thead th {
  background-color: var(--thead-bg-color);
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--td-border-color);
}