:root {
  --td-border-color: #dee2e6;
  --thead-bg-color: #efefef;
}

.main {
  margin: auto;
  width: 60%;
  padding: 20px;
}

.main__search-box {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid var(--td-border-color);
  padding: 10px;
}

thead th {
  background-color: var(--thead-bg-color);
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--td-border-color);
}